@* @page
@model KhumaloCraft.Pages.MyWorkModel 
@{
    ViewData["Title"] = "My Work";
}
<h1>@ViewData["Title"]</h1>

<p>Work handcrafted by artisians</p>


<div class="container">
    <div class="row">
        <div class="row-4">
            <h3>Ceremics</h3>
            <img src="/images/ceremic1.jpg" height="300px" class="rounded  p-3" alt="ceremic vase">
            <img src="/images/ceremic2.jpg" height="300px" class="rounded  p-3" alt="ceremic bowls">
            <img src="/images/ceremic3.jpg" height="300px" class="rounded  p-3" alt="ceremic cups">
        </div>
        <div class="row">
            <div class="row-4">
                <h3>Accessories</h3>
                <img src="/images/accessories1.png" height="300px" class="rounded p-3" alt="...">
                <img src="/images/accessories2.jpg" height="300px" class="rounded p-3" alt="...">
                <img src="/images/accessories3.jpg" height="300px" class="rounded p-3" alt="...">
                <img src="/images/accessories4.jpg" height="300px" class="rounded p-3" alt="...">
            </div>
            <div class="row">
                <div class="col-4">
                    <h3>Furniture</h3>
                    <img src="/images/furniture1.jpeg" height="300px" class="rounded p-3" alt="...">
                </div>
            </div>
        </div> 

 *@

@page
@model KhumaloCraft.Pages.MyWorkModel
@{
    ViewData["Title"] = "My Work";
}
<h1>@ViewData["Title"]</h1>

<p>Explore the exquisite handcrafted work of artisans from around the world.</p>

<div class="container mt-5">

    <form method="get" asp-page="./MyWork" class="mb-3">
        <div class="input-group">
            <input type="text" name="Query" class="form-control" placeholder="Search products by name..." value="@Model.Query" />
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </form>
    <div class="clearfix"></div>
    <div class="row mt-3">
        @foreach (var product in Model.Products)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" style="height: 380px !important" src="@product.Image" alt="@product.Name">
                    <div class="card-body">
                        <h4 class="card-title">@product.Name</h4>
                        <p class="card-text">@product.Category</p>
                        <h5>R @product.Price.ToString("0.00")</h5>
                        <a asp-page="/ViewItem" asp-route-id="@product.ProductId" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>