@* @page *@
@* @model KhumaloCraft.Pages.OrderHistory *@
@* *@
@* @{ *@
@*     ViewData["Title"] = "Order History"; *@
@* } *@
@* *@
@* <h1>@ViewData["Title"]</h1> *@
@* *@
@* <div class="container mt-5"> *@
@*     <div class="row"> *@
@*         <div class="col-12"> *@
@*             <table class="table table-striped"> *@
@*                 <thead> *@
@*                 <tr> *@
@*                     <th>Order Date</th> *@
@*                     <th>Product</th> *@
@*                     <th>Quantity</th> *@
@*                     <th>Price</th> *@
@*                 </tr> *@
@*                 </thead> *@
@*                 <tbody> *@
@*                 @foreach (var order in Model.Orders) *@
@*                 { *@
@*                     @foreach (var item in order.OrderItems) *@
@*                     { *@
@*                         <tr> *@
@*                             <td>@order.OrderDate.ToString("dd MMM yyyy")</td> *@
@*                             <td>@item.Product.Name</td> *@
@*                             <td>@item.Quantity</td> *@
@*                             <td>R @item.Price.ToString("0.00")</td> *@
@*                         </tr> *@
@*                     } *@
@*                 } *@
@*                 </tbody> *@
@*             </table> *@
@*         </div> *@
@*     </div> *@
@* </div> *@